[submodule "chisel3"]
	path = chisel3
	url = https://github.com/freechipsproject/chisel3
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
[submodule "hammer"]
	path = hammer
	url = https://github.com/ucb-bar/hammer
